# random files
*.log
*.btr
*.out
*.dat
*.png
# object files from ifort
*.o
# module files from ifort
*.mod
# random fortran output files
fort.*
# vim files
*~
~*
# binary
gw
# large hdf5 files
*.hdf5
